@page {
  /* size: A4 landscape; */
  size: A4;
  margin-left: 15mm;
  margin-right: 10mm;

  /* Counter page in bottom-right corner with PagedJS */
  @top-center {
    margin-bottom: 1em;

    vertical-align: center;
    text-align: center;
    
    content: element(header);
    /* content: "Paróquia Nossa Senhora da Conceição - Pajuçara"; */
    font-size: 0.6em;
    font-weight: bold;

    white-space: break-spaces;

    /* background: #fafafa;
    margin-top: 8px; 
    border: 1px solid #ccc; */
  }

  /* marks: crop cross; */
}
#header {
  position: running(header);
}


@page:right {
  @bottom-right-corner {
    vertical-align: center;
    text-align: center;
    content: counter(page);
  }
}
@page:left {
  @bottom-left-corner {
    vertical-align: center;
    text-align: center;
    content: counter(page);
  }
}

h2 {
  string-set: title content(text);
}

@page {
  @top-left {
    /* content: element(headerImage); */

    /* border: 2px solid black; */
    border-right: 0px;
    /* background-image: url('./pnsc.jpg'); */
    background-size: contain;
    background-repeat: no-repeat;
  }
}

#div-top-left {
  /* position: running(headerImage); */
}

@page {
  @bottom-center {
    content: element(footer);
  }
}

#footer {
  position: running(footer);
}