body { 
  margin: 0px;
  padding: 0px;

  /* font-family: "Libre Baskerville"; */
  font-size: 0.9em;
  line-height: 1.4em;

  /* text-align: justify; */
  /* --color-gray: #333; */
  --color-gray: #666;
} 

.main strong,
.main em {
  font-weight: bold;
  font-style: initial;
  /* text-transform: uppercase; */
}

li, p {
  white-space: break-spaces;
}

ul, ol {
  padding-left: var(--items-padding-left);
}
p {
  margin: var(--paragraph-spacing);
}
li > p:first-of-type {
  margin: 0;
}

li {
  margin: var(--paragraph-spacing);
}

li:has(p) {
  white-space: normal;
}

p,
li,
.music-start {
  break-inside: avoid;
}

.main {
  column-count: var(--column-count);
  column-gap: var(--column-gap);
  column-rule: 1px solid #dddddd;
}

h3 {
  font-size: 1.4em;
  margin-top: 20px;
  margin-bottom: 8px;
  line-height: 1.3em;
}
h3 + ol {
  margin-top: 0;
}
h3:has(+ .composers) {
  margin-bottom: 4px;
}
.music-moment + h3 {
  margin-top: 0;
}
h3:has( + .tonality) {
  margin-bottom: 4px;
}

body {
  counter-reset: indiceMusica 0;
}
h3 {
  counter-increment: indiceMusica;
}
h3::before {
  content: counter(indiceMusica) '. ';
}

.verse-delimiter {
  color: var(--color-gray);
}
.music-moment {
  font-size: .8em;
  color: var(--color-gray);

  margin-top: calc(20px - 4px);
  margin-bottom: calc(4px);
}
.main .musica:first-child .music-moment,
.main .musica:first-child h3,
.main .musica:first-child > p:first-child,
.main .musica:first-child > ol:first-child,
.main .musica:first-child > ol:first-child li:first-child,
.main .musica:first-child > ul:first-child,
.main .musica:first-child > ul:first-child li:first-child {
  /** Remove space from first item if fist column starts with title */
  margin-top: 0;
}

.composers {
  text-align: right;
  font-size: .9em;
  color: var(--color-gray);

  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.composers div {
  display: inline;
}

.advertisement {
  /* background-color: #fafafa; */
  background-color: #f5f5f5;
  margin-top: 4px;
  padding: 16px;

  text-align: justify;
  break-inside: avoid;
}

.advertisement p {
  margin-top: 0;
}
.advertisement img {
  width: 100px;
  margin: 0 auto;
  display: block;
}