@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:ital,wght@0,400;0,700;1,400&display=swap');

/* @tailwind base; */
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Bricolage Grotesque', 'Libre Baskerville';
}
body #previewer {
  font-family: 'Libre Baskerville';
}

body {
  --paragraph-spacing: 8px 0;

  --column-count: 2;
  --column-gap: 3em;

  --items-padding-left: 2em;
  /* --items-padding-left: 0; */

  --color-background: white;
}

@media print {    
  .no-print {
    display: none !important;
  }
}
